<h2 class="center">Sentences Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>sentenceK</th>
      <th>sentenceE</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% sentences.forEach(sentence => { %>
    <tr>
      <td>
        <a href="<%= `/sentences/${sentence._id}` %>">
          <%= sentence.sentenceK %>
        </a>
      </td>
      <td>
        <%= sentence.sentenceE %>
      </td>
      <td>
        <a href="<%=`sentences/${sentence._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `sentences/${sentence._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>

</table>
<a class="btn btn-primary" type="button"  href="/sentences/new">new</a>
